<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/header::setContent(~{this::content})}">
	<th:block th:fragment="content">
	</th:block>
</th:block>
		 <div class='inner-div'>

            <br>
            <br><br>
            <table style ='text-align :justify; width:600px; height: 300px; margin-left:auto; margin-right:auto;'>


                <tr>
                    <td rowspan="5" style="text-align: center;"> <img th:src= "@{/images/}+${dto.thumb}" width="350px" height="250px"> </td>
                    <td th:text="@{&nbsp &nbsp}+${dto.name}" style = "font-weight: bold; font-size: 23px;">  </td>
                </tr>

                <tr>
                    <td th:text="@{ &nbsp  &nbsp 판매자 : &nbsp  }+${dto.nickname}" style = "font-weight: bold; font-size: 15px;"> </td>
                
                </tr>

                <tr>
                    <td th:text="@{ &nbsp &nbsp 가격 :  &nbsp }+${dto.price} +@{원}" style = "font-weight: bold; font-size: 15px;">  </td>
                
                </tr>
                
                 <tr>
                    <td th:text="@{ &nbsp &nbsp 거래 지역 :  &nbsp }+${mdto.addr}" style = "font-weight: bold; font-size: 14px;">  </td>
                
                </tr>
                <tr>
                    <td th:text="@{ &nbsp &nbsp &nbsp }+${dto.detail}" style = "font-size: 14px;">  </td>
                </tr>
                
                <tr>
                    <td> &nbsp</td>
                    <td>&nbsp</td>
                </tr>

                </tr>
                <tr style= "text-align: center; margin-left: 10%;">
	                <td>
						<a class="btn" href="/main" >
							<button />목 록 보 기
						</a>
					</td>
					<td>
						<a class="btn" th:href="@{/product/buy(pnum=${dto.pnum})}" >
							<button />구 매 하 기
						</a>
					</td>
                </tr>
            </table>

            <br><br><br><br><br><br>
        </div>
		<script>
			$(".btn-warning").click(function() {
				if(!confirm("구매하시겠습니까?")) {
					return;
				}

				var request = new XMLHttpRequest();
				var url = "/product/buy";
				var params = 'pnum=' + document.getElementById('pnum').value;

				request.open('POST', url, true);
				request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				request.send(params);

				//request.addEventListener('load', () => {
				//	alert("삭제 완료");
				//	location.href='/memo/list';
				//});
			});

			$(".btn-danger").click(function() {
				if(!confirm("정말로 삭제하시겠습니까?")) {
					return;
				}

				var request = new XMLHttpRequest();
				var url = "/memo/remove";
				var params = 'pnum=' + document.getElementById('pnum').value;

				request.open('POST', url, true);
				request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				request.send(params);

				request.addEventListener('load', () => {
					alert("삭제 완료");
					location.href='/memo/list';
				});
			});
		</script>



<th:block th:replace="~{/layout/footer::setContent(~{this::content})}">
	<th:block th:fragment="content">
	</th:block>
</th:block>


<style>
    /*버튼디자인*/
    button{
        width: 130px;
        height: 45px;
        background-color: #481677;
        border-color :white;
        border-radius: 10px;

    }

    a.btn{
        text-decoration: none;
        color : white;
        font-weight: bold;
        font-size: 15px;
    }
    
    a.btn:hover{
		color: white;
	}

		
/*
    button :active{
        box-shadow: 0 0 #74a3b0;
        background-color: #709CA8;
    }
    */
</style>